
.carousel .control-next.control-arrow:before { border-left: 8px solid #fff; }

.carousel{
    position: relative;
    height: 400px;
}

.custom-arrow{
    background: #000;
}

.custom-arrow-left {
    position: absolute;
    top: 50px;
    left: 0;
}

.custom-arrow-right {
    position: absolute;
    top: 50px;
    right: 0;
}

.container{
    position: absolute;
    top: 50px;
    width: 100px;
    height: 100px;
    background: ;
}