.width-330-px{
    margin-left: 30px;
}
.carousel-item-image{
    width:  100%;
    height: 160px;
    object-fit: cover;
    margin-bottom: 5px;
}

.carousel-item-heading{
    font-size: 13px;
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}