.product-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    width: 330px;
    height: 100%;
    background-color: white;
    padding: 10px;
}

.product{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 150px;
    padding: 10px;
    background-color: rgb(223, 223, 223);
}

.product img{
    width: 100%;
    height: 150px;
}